
@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');
h2 {
    font-family:'Modak', cursive;
}

@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');

li{
    font-style: italic;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color:navy;
}


option{

    font-family: 'Bangers', cursive;
}



    .send-button{
        background-color:red;
        color: black ;
        
    }
    
 select{
font-family: fantasy;
color: purple;

 }

 table {
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size: 14px;
    border-radius: 10px;
    border-spacing: 0;
    text-align: center;
    }
    th {
    background: firebrick;
    color: darkorange;
    text-shadow: 0 1px 1px #2D2020;
    padding: 10px 20px;
    }
    th, td {
    border-style: solid;
    border-width: 0 1px 1px 0;
    border-color: white;
    }
    th:first-child, td:first-child {
    text-align: left;
    }
    th:first-child {
    border-top-left-radius: 10px;
    }
    th:last-child {
    border-top-right-radius: 10px;
    border-right: none;
    }
    td {
    padding: 10px 20px;
    background: #a491f8;
    }
    tr:last-child td:first-child {
    border-radius: 0 0 0 10px;
    }
    tr:last-child td:last-child {
    border-radius: 0 0 10px 0;
    }
    tr td:last-child {
    border-right: none;
    }

    span{
        font-family: 'Lobster', cursive;

    }
    a.button1{

        a.button1 {
            font-weight: 700;
            color: white;
            text-decoration: none;
            padding: .8em 1em calc(.8em + 3px);
            border-radius: 3px;
            background: rgb(64,199,129);
            box-shadow: 0 -3px rgb(53,167,110) inset;
            transition: 0.2s;
          } 
          a.button1:hover { background: rgb(53, 167, 110); }
          a.button1:active {
            background: rgb(33,147,90);
            box-shadow: 0 3px rgb(33,147,90) inset;
          }
    }